{% extends 'home/base.html'%}

{% block titulo_pagina %}
<title>Info del Usuario</title>
{% endblock titulo_pagina %}

{% block cuerpo %}

<p>
    <table align="center">
        <tr>
          <td>Especie: {{camaron.especie}}</td>
        </tr>
        <tr>
          <td>Variedad: {{camaron.variedad}}</td>
        </tr>
        <tr>
          <tr>
            <td>Temperatura: {{camaron.temperatura}}</td>
        </tr>
        <tr>
            <td>Ph: {{camaron.ph}}</td>
        </tr>
          <tr>
            <td>Fecha de creacion: {{camaron.fecha_creacion}}</td>
        </tr>
        <tr>
          <td>Autor: {{camaron.autor}}</td>
      </tr>
        <tr>
            <td><img src={{camaron.imagen.url}} width="400" height="400"></td>
        </tr>
        <tr>
            <td>Informacion: {{camaron.contenido | safe }}</td>
        </tr>
      </table>
</p>

{% endblock cuerpo %}