{% extends 'home/base.html'%}

{% block titulo_pagina %}
<title>Info del Usuario</title>
{% endblock titulo_pagina %}

{% block cuerpo %}

<p>
    <table align="center">
        <tr>
          <td>Titulo: {{post.titulo}}</td>
        </tr>
        <tr>
          <td>Subtitulo: {{post.subtitulo}}</td>
        </tr>
        <tr>
            <td>Fecha de creacion: {{post.fecha_creacion}}</td>
        </tr>
        <tr>
          <td>Autor: {{post.autor}}</td>
      </tr>
        <tr>
            <td><img src={{post.imagen.url}} width="400" height="400"></td>
        </tr>
        <tr>
            <td>Informacion: {{post.contenido | safe }}</td>
        </tr>
      </table>
</p>

{% endblock cuerpo %}