{% extends 'home/base.html'%}

{% block titulo_pagina %}
<title>Info del Usuario</title>
{% endblock titulo_pagina %}

{% block cuerpo %}

<p>
    <table>
        <tr>
          <td>Nombre: {{post.titulo}}</td>
        </tr>
        <tr>
          <td>Apellido: {{post.subtitulo}}</td>
        </tr>
        <tr>
            <td>Fecha de creacion: {{post.fecha_creacion}}</td>
        </tr>
        <tr>
          <td>Autor: {{post.autor}}</td>
      </tr>
        <tr>
            <td>Foto: <img src={{post.imagen.url}}></td>
        </tr>
        <tr>
            <td>Informacion: {{post.contenido | safe }}</td>
        </tr>
      </table>
</p>

{% endblock cuerpo %}