{% extends 'home/base.html'%}

{% block titulo_pagina %}
<title>Info del Usuario</title>
{% endblock titulo_pagina %}

{% block cuerpo %}

<p>
    <table>
        <tr>
          <td>Nombre: {{usuario.nombre}}</td>
        </tr>
        <tr>
          <td>Apellido: {{usuario.apellido}}</td>
        </tr>
        <tr>
          <td>Edad: {{usuario.edad}}</td>
        </tr>
        <tr>
            <td>Fecha_nacimiento: {{usuario.fecha_nacimiento}}</td>
        </tr>
        <tr>
            <td>Foto: <img src={{usuario.imagen.url}}></td>
        </tr>
        <tr>
            <td>Descripcion: {{usuario.descripcion | safe}}</td>
        </tr>
      </table>
</p>

{% endblock cuerpo %}