{% extends 'home/base.html'%}

{% block titulo_pagina %}
<title>Ver Usuarios</title>
{% endblock titulo_pagina %}

{% block cuerpo %}
<br>
{% if object_list %}
    {% for post in object_list%}
    <table align="center">
        <tr>
          <td><h1>{{post.titulo}}<h1></td>
        </tr>
        <tr>
          <td><h4>{{post.subtitulo}}<h4></td>
        </tr>
        <tr>
            <td>Fecha de creacion: {{post.fecha_creacion}}</td>
        </tr>
        <tr>
          <td>Autor: {{post.autor}}</td>
      </tr>
        <tr>
            <td><img src={{post.imagen.url}} width="400" height="400"></td>
        </tr>
        <tr>
            <td>Informacion: {{post.contenido | safe}}</td>
        </tr>
      </table>
      <br>
      {%endfor%}
{%else%}

¡Aun no hay posts!
{% endif %}

{% endblock cuerpo %}