{% extends 'home/base.html'%}

{% block titulo_pagina %}
<title>Ver Usuarios</title>
{% endblock titulo_pagina %}

{% block cuerpo %}
<form action={% url 'ver_usuarios' %} method="GET">
    <br>
    <table align="center">
        {{ formulario }}
    </table>
        <center><button>Buscar</button></center>
</form>
<br><br>


<p>Lista de usuarios:</p>
{% if object_list %}
    {% for usuario in object_list%}
    <li>
        <a class="navbar-brand" href={% url 'info_usuario' usuario.id %}> {{usuario}} </a>
        <a class="navbar-brand" href={% url 'editar_usuario' usuario.id %}>Editar</a>
        <a class="navbar-brand" href={% url 'eliminar_usuario' usuario.id %}>Eliminar</a>
    </li>
    {% endfor %}
{%else%}

No se encontraron resultados de la busqueda!

{% endif %}

{% endblock cuerpo %}