{% extends 'home/base.html'%}

{% block titulo_pagina %}
<title>Posts</title>
{% endblock titulo_pagina %}

{% block cuerpo %}
<br>
{% if object_list %}
    {% for camaron in object_list%}
    <table align="center">
        <tr>
          <td><h1>{{camaron.especie}}<h1></td>
        </tr>
        <tr>
          <td><h4>{{camaron.variedad}}<h4></td>
        </tr>
        <tr>
          <tr>
            <td>Temperatura: {{camaron.temperatura}}</td>
        </tr>
        <tr>
            <td>Ph: {{camaron.ph}}</td>
        </tr>
            <td>Fecha de creacion: {{camaron.fecha_creacion}}</td>
        </tr>
        <tr>
          <td>Autor: {{camaron.autor}}</td>
      </tr>
        <tr>
            
            <td>
              <img src={{camaron.imagen.url}} width="400" height="400"></td>
        </tr>
        <tr>
            <td>Informacion: {{camaron.contenido | safe}}</td>
        </tr>
      </table>
      <br>
      {%endfor%}
{%else%}

¡Aun no hay posts!
{% endif %}

{% endblock cuerpo %}